#profile-header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 120px;

  font-size: 1.5em;
  color: #FFFFFF;

  background-color: #A80000;
  background-image: url('../images/header-transparent.png');
}

#profile-hex {
  width: 175px;
  height: 175px;
}