#tweet-form {
  display: flex;
  flex-direction: column;
  
  margin-top: 30px;
}

#tweet-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#tweet-button-error-and-limit {
  display: flex;
  justify-content: space-between;

  font-family: 'Bungee', cursive;
}

#tweet-button-error-and-limit button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 20px;

  border: none;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
}

#tweet-button-error-and-limit label {
  color: #F00;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  padding-left: 30px;
}

#tweet-text-area {
  background-color: #F4F1EC;
  font-size: 0.74em;

  border-style: none none solid none;
  border-bottom-width: 4px;

  resize: none;
  outline: none;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 12px;
}

#tweet-text-area::-webkit-input-placeholder {
  font-size: x-large;
  font-weight: bolder;
}

#tweet-text-area::-moz-placeholder {
  font-size: x-large;
  font-weight: bolder;
}

#tweet-text-area::-ms-input-placeholder {
  font-size: x-large;
  font-weight: bolder;
}